.color1 {
  background-color: #6b3f6e;
}

.color1:hover {
  background-color: #543157;
}

.color2 {
  background-color: #f2eeeb;
}

.color3 {
  background-color: #cda370;
}

.no-decoration {
  text-decoration: none;
  color: white;
}

.arrow-no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:hover {
  color: #6b3f6e;
}

.image-box {
  height: 250px;
}

.image-detail {
  border-radius: 10px;
  border: gray solid;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.banner {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/banner.png");
  background-size: cover;
  background-position: center 20%;
}

.banner-produk {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/banner.png");
  background-size: cover;
  background-position: center 20%;
}

.highlighted-kategori {
  height: 260px;
  border-radius: 10px;
}

.kategori-dress {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/dress-highlight.jpg");
  background-size: cover;
  background-position: center 15%;
}

.kategori-bag {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/tas.jpg");
  background-size: cover;
  background-position: center 15%;
}

.kategori-mukenah {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/mukenah.jpg");
  background-size: cover;
  background-position: center 15%;
}
